

body{
    #our-story {
        width: 100%;
        padding: 50px 0px;
        background-color: $custom-lighter-grey;

        .container {
            width: 70%;
            margin: auto;

            .content {
                display: grid;

                .our-story {
                    h2 {
                        font-family: $heading-font;
                        margin: 20px 0px;
                        font-size: 30px;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #about-us {
        width: 100%;
        padding: 50px 0px;
        position: relative;
        .bg-image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            width: 100%;
            height: 100%;
            background-image: url(/../img/aboutus.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .mask {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: inherit;
            height: inherit;
            background-color: $custom-grey3;
            z-index: -888;
            opacity: 0.80;
        }

        .container {
            width: 70%;
            margin: auto;

            .content {
                display: grid;

                .about-us {
                    h2 {
                        font-family: $heading-font;
                        margin: 20px 0px;
                        font-size: 30px;
                        text-align: center;
                        color: white;
                    }

                    p {
                        text-align: center;
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }
    }
}