

body {


    header.fixed{
        position: fixed;
    }

    
    header {
        background-color: white;
        width: 100%;
        z-index: 10000;
        border-bottom: 1px solid rgb(187, 187, 187);
        -webkit-box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);
        .container {
            width: 95%;
            margin: auto;
        }

        .c2r1 {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 1fr;
            height: 70px;

            .title {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    margin: 0px 20px 0px 0px;
                }

                h1 {
                    color: black;
                    font-family: $heading-font;
                    font-size: 25px;
                }
            }

            nav {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                ul {
                    display: flex;

                    .dropdown {
                        position: relative;
                    }



                    .dropdown-content {
                        display: hidden;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        transition: 0.5s;
                        opacity: 0;
                        border-radius: 10px;
                    }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        transition: 0.3s;
                        border-radius: 10px;
                    }

                    .dropdown-content a:hover {background-color: $custom-lighter-grey}

                    .dropdown:hover .dropdown-content {
                        display: block;
                        opacity: 1;
                    }

                    li#dashboard-menu-item{
                        display: none;
                    }

                    li.responsive-menu-item{
                        display: none;
                    }

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            margin-left: 20px;
                            text-transform: uppercase;
                            color: black;
                            font-size: 15px;
                            font-weight: bold;
                            transition: 0.3s;
                        }
                        a:hover{
                            color: $custom-yellow-darker;
                        }

                        a.sign-up{
                            border-radius: 5px;
                            padding: 10px;
                            transition: 0.5s;
                            color: white;
                            background-color: $custom-yellow-darker; 
                        }

                        a.sign-up:hover{
                            background-color: $custom-yellow; 
                        }

                        svg{
                            font-size: 20px;
                            margin-left: 20px;
                            margin-right: 20px;
                        }


                    }
                    
                }

                ul.active {
                    left: 0px;
                }

                .menu-trigger {
                    display: none;
                    color: white;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}